.user {
    border: var(--sp-0-125) solid var(--border-userCard);
    width: 100%;
    max-width: 320px;
    overflow: hidden;
    transition: transform 200ms ease;
    padding: var(--sp-0-75);
    margin: 0 auto;
    background-color: #555a880a;
}

.user:hover {
    transform: scale(1.05);
    border: var(--sp-0-05) solid var(--bg-btnDelete);
}

.user__title {
    font-size: var(--size-normal);
    text-align: center;
    margin: var(--sp-0-5) auto;
}

.user__line {
    margin: var(--sp-0-5) auto;
    border-color: var(--border-userCard);
}

.user__list {
    display: grid;
    gap: var(--sp-0-75);
}

.user__item {
    display: flex;
    flex-direction: column;
    gap: var(--sp-0-2);
}

.user__label {
    color: var(--text-labelForm);
    font-size: var(--size-small);
}

.user__item-value {
    font-size: var(--size-small);
}

.user__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.user__footer-btn {
    font-size: var(--size-medium);
    margin-left: var(--sp-0-5);
    border-radius: var(--sp-0-2);
    padding: var(--sp-0-25) var(--sp-0-5);
}

.btn_red {
    background-color: var(--bg-btnDelete);
    color: var(--text-btnDelete);
    border: var(--sp-0-05) solid var(--border-btnDelete);
}

.btn_gray {
    background-color: var(--bg-btnUpdate);
    color: var(--text-btnUpdate);
    border: var(--sp-0-05) solid var(--border-btnUpdate);
}

@media screen and (min-width: 1200px) {
    .user {
        width: 100%;
        max-width: 350px;
        margin: 0;
    }

    .user__title {
        font-size: var(--size-medium);
    }

    .user__line {
        margin: var(--sp-0-75) auto;
    }

    .user__label,
    .user__item-value {
        font-size: var(--size-normal);
    }
}